RewriteEngine on
RewriteRule ^usuario/ usuario/controller.php 
RewriteRule ^perfil/ perfil/controller.php 
RewriteRule ^tipo_producto tipo_producto/controller.php 
RewriteRule ^productos productos/controller.php 